# Make sure to override these in deployment
DATABASE_URL=postgresql://postgres:@localhost:5835/workplacify_db
# Needed for signup functionality
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=https://127.0.0.1:3000
NEXTAUTH_SECRET=Celestial5-Disarray-Cranberry
# Needed to upload floor plans
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_NAME=
# Needed for administrative notification utilities
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_TOKEN=
ADMIN_EMAILS=test@test.com|test+1@test.com
NODE_ENV=development

# entra.microsoft.com
# Essentials > Application (client) ID
MICROSOFT_ENTRA_CLIENT_ID=
# Certificates & secrets > Value
MICROSOFT_ENTRA_CLIENT_SECRET=
# Endpoints > WS-Federation sign-on endpoint
MICROSOFT_ENTRA_ISSUER=
